@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');

body {
  background: linear-gradient(120deg, rgba(34, 34, 255, 0.63), rgba(50, 255, 50, 0.74), rgba(255, 36, 36, 0.6));
  background-size: 200% auto;
  animation: animarGradiente 10s linear infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes animarGradiente {
  0% {
    background-position: 0% center;
  }
  50% {
    background-position: 50% center;
  }
  100% {
    background-position: 100% center;
  }
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
}

.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 700px;
    height: 250px;
    background-color: black;
    color: white;
    background: transparent;
    box-shadow: 0px 4px 8px black;
    border-radius: 5px;
}

.relogio div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.89);
    flex-direction: column;
    width: 190px;
    height: 190px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px black;
    font-size: 30px;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
}

.relogio span {
    font-weight: 400;
    font-size: 60px;
}

.relogio span#tempo1, span#tempo2, span#tempo3{
    font-size: 15px;
}
